body
{
    background-color: antiquewhite;
}
h1
{
    font-family: "Times New Roman";
    color: lightseagreen;
    text-align: center;
}
h2
{
    font-family: "Times New Roman";
    color: lightsalmon;
    text-align: center;
}
